---
import { NAV_ITEMS } from '../../consts';
const { sideBarActiveItemID } = Astro.props;
---

<ul class="menu grow shrink menu-md overflow-y-auto w-full">
  {
    NAV_ITEMS.map(item => (
      <li>
        <a
          class:list={[
            'py-3 text-base block w-full',
            { 'bg-base-300': item.id === sideBarActiveItemID }
          ]}
          id={item.id}
          href={item.url}
        >
          {item.name}
        </a>
      </li>
    ))
  }
</ul>
